.add-card {
  background-color: white;
  margin-bottom: 2em;
  color: #171e2c;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 20px solid white;

  padding-right: 10px white;
  width: 76.5vw;
}

.add-card-image {
  display: flex;
  justify-items: center;
  border-radius: 4px;
  border: 10px white;
  margin-bottom: 0.5em;
}
.button-bundle {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0.5em;
}
.add-card-buttons {
  background-color: white; 
  border: 1px solid #171e2c;
  color: #171e2c;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  width: 25vw;
  padding: 0.3em;
}


.time-slider-add {
  padding-bottom: 1em;
  width: 60%;
}

.time-display-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.add-from-time {
  padding: 0;
  margin: 0;
}

.add-to-time {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.input-range__track--active,
.input-range__slider {
  background: #253B59 !important;
  border-color: #253B59 !important;
}

.card-name {
  margin-bottom: 0.4em;
  font-size: 18px;
}

.select-plan {
  border: 1px solid #253B59;
  padding: 0.3em;
  margin-bottom: 0.2em;
  background-color: #FFFFFF00;
}

.card-rating {
  margin-bottom: 0.1em;
}