html {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: "Raleway", sans-serif; 
}

head {
  height: 0;
}
.nav-bar {
  display: flex; 
  flex-direction: row;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  width: 100vw;
  background-color: #171e2c;
  border-top: 1px white solid; 
  z-index: 100;
}

.nav-item {
  color: white; 
  border: none; 
}

.nav-bar a {
  font-size: 15px;
  padding: 15px 20px; 
  border: none; 
  background-color: #171e2c;
}
i {
  color: #ffffff
}