.card {
  background-color: white;
  margin-bottom: 2em;
  color: #171e2c;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 20px solid white;

  padding-right: 10px white;
  width: 76.5vw;
}

.card-image {
  display: flex;
  justify-items: center;
  border-radius: 4px;
  border: 10px white;
  margin-bottom: 0.5em;
}
.button-bundle {
  width: 53vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0.5em;
}
.card-buttons {
  background-color: white; 
  border: 1px solid #171e2c;
  color: #171e2c;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

.card-buttons:hover {
  margin: 10px 10px #ffcd62;
}