.favourites {
  font-family: "Raleway", sans-serif;
  background-image: url('./favourites.png');
  background-repeat: no-repeat;
  background-size: 100%; 
  color: #ffffff;
  height: 100vh;
}

.favourites-void {
  margin: 0 auto;
  height: 15em;
  width: 100%;
  display:block;
}

.favourites-result {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  height: 54%;
  width: 80%;
  margin: 0 auto;
  overflow-y: scroll;
}

.favourites-result article {
  width:100%;
}

.favorites-card {
  background-color: #FFFFFF00;
  margin-bottom: 2em;
  color: #171e2c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 4px solid white;
  width: 80%;
  padding: 1em;
  margin-left: 1.1em;
}

.favorites-button-bundle {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.favorites-card-buttons {
  background-color: white; 
  border: none;
  color: #171e2c;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 25vw;
}

.favorites-card-buttons:hover {
  margin: 10px 10px #ffcd62;
}

.favorites-card-address {
  display: flex;
  flex-direction: column;
  text-align: center; 
  padding: none;
  margin: none; 
}

.favorites-card-types {
  margin-bottom: 1em; 
}

.favorites-card-name {
  font-size: 20px;
  margin: 0.2em;
}

.favorites-card-plan {
  padding-bottom: 5px;
}

.time-slider-favourites {
  padding-bottom: 1em;
  width: 60%;
}

.time-display-favourites {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.from-time {
  padding: 0;
  margin: 0;
}

.to-time {
  padding: 0;
  margin-top: 0;
  margin-bottom: 1em;
}

.select-favourites {
  border: 2px solid #FFFFFF;
  background-color: #FFFFFF00;
  text-align: center;
  padding: 3px;
}

.input-range__track--active,
.input-range__slider {
  background: #253B59 !important;
  border-color: #253B59 !important;
}

