.live-search {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./searchbar.png');
  background-repeat: no-repeat;
  background-size: 100%; 
  color: #ffffff;
  height: 100vh;
}

.searchbar-result {
  
}

.explore-result {
  position: fixed;
  overflow-x: scroll;
  margin-top: 45em;
  height: 100vh;
  margin-bottom: 10vh;
}