body {
  background-color: rgb(6,52,52); 
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(6,52,52);
  color: #ffffff;
  font-family: "Raleway", sans-serif;
}

.login-form{
  display: flex; 
  flex-direction: column;
  background-color: rgb(6,52,52); 
}

.login-logo{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 2em; 
}

input {
  resize: none;
  border: none; 
  border-bottom: 3px solid white;
  background-color: rgb(6,52,52); 
  margin-bottom: 1em;
  color: white; 

}

.submit-btn{
  font-family: "Raleway", sans-serif;
  margin: 1em; 
  font-size: 15px;
  padding: 10px 20px;
  background-color: #fd9d00;
  border-radius: 8px;
  color: white;
  border: none;
}

#signup {
  color: white
}