body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}

.sign-in-text {
  flex-direction: column;
  justify-content: center;
  margin-top: 20em;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./login.png');
  background-repeat: no-repeat;
  background-size: 100%; 
  color: #ffffff;
  font-family: "Raleway", sans-serif;
}

.login-form{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 7em;
  
}

.login-logo{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
}

/* 
input {
  resize: none;
  border: none; 
  border-bottom: 3px solid white;
  background-color: rgb(6,52,52); 
  margin-bottom: 1em;
  color: white; 
  width: 50vw;
} */

.input {
  background-color: #171e2c !important;
  color: #ffffff !important;
}

.login-button {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.login-btn {
  font-size: 15px;
  padding: 10px 20px;
  background-color: #fd9d00;
  border-radius: 8px;
  color: white;
  border: none;
  margin-top: 1em; 
  margin-bottom: 1em;
}

.login-btn:hover {
  background-color: #fd7d00 ; /* Green */
  color: white;
}

#signup {
  color: white
}