body {
  background-color: rgb(6,52,52); 
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(6,52,52);
  color: #ffffff;
  font-family: "Raleway", sans-serif;
}

.login-form{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(6,52,52); 
}

.login-logo{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
}

.login-form {
  display: flex;
  flex-direction: column;
}

input {
  resize: none;
  border: none; 
  border-bottom: 3px solid white;
  background-color: rgb(6,52,52); 
  margin-bottom: 1em;
  color: white; 
  width: 50vw;
}


.login-button {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.login-btn {
  font-size: 15px;
  padding: 10px 20px;
  background-color: #fd9d00;
  border-radius: 8px;
  color: white;
  border: none;
  margin-top: 2em; 
}

.login-btn:hover {
  background-color: #fd7d00 ; /* Green */
  color: white;
}

#signup {
  color: white
}