

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./profile.png');
  background-repeat: no-repeat;
  background-size: 100%; 
  color: #ffffff;
  font-family: "Raleway", sans-serif;
}

h1 {
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 5px #fd7d00;
}

.profile-details {
  flex-direction: column;
  align-items: left;
  text-align: center;
}

.logout-button {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logout-btn {
  background-color: #D8B9B7; 
  border: 2px solid #ffffff;
  color: white;
  padding: 8px 8px;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  font-weight: bolder;
  margin-bottom: 15em;
}

.profile-form {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  
}

.profile-info {
  font-weight: bolder;
  font-weight: 900;
}

.sign-in-text {
  font-size: 20px;
  font-weight: bolder;
  color: #171e2c;
  margin-top: 16em;
}

.profile-name {
  margin: 0;
  color: #171e2c;
}

.profile-email {
  color: #171e2c;
  margin-bottom: 3em;
}