body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}

.register {
  display: flex; 
  flex-direction: column;
  background-image: url('./login.png');
  background-repeat: no-repeat;
  background-size: 100%; 
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: 100%; 
}
.registerHeader {
  display: flex; 
  flex-direction: column; 
  align-items:center;
}
.registerLogo {
  display: flex; 
  justify-content: center; 
  margin-top: 3em;
}

.register-form {
  display: flex; 
  flex-direction: column;
  align-items: center;
  text-align: right;
  margin-bottom: 4em;
}

#register-login {
  color:#FFFFFF;
}
.register-button {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#full_name {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  height: 2.5em;
  width: 50vw;
}

#confirmPassword {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 2.5em;
  width: 50vw;
}

.register-email {
  height: 2.5em;
  width: 50vw;
}

.register-password {
  height: 2.5em;
  width: 50vw;
}

.register-btn {
  font-size: 15px;
  padding: 7px 15px;
  background-color: #fd9d00;
  border-radius: 8px;
  color: white;
  border: none;
  margin-bottom: 1em;
  margin-top: 1em;
}

.register-btn:hover {
  background-color: #fd7d00 ; /* Green */
  color: white;
}

.register-p {
  justify-content: center;
}