body {
  background-color: rgb(6,52,52);
}

.register {
  display: flex; 
  flex-direction: column;
  background-color: rgb(6,52,52);
  color: #FFFFFF; 
  font-style: inherit;
}
.registerHeader{
  display: flex; 
  flex-direction: column; 
  align-items:center;
}
.registerLogo{
  display: flex; 
  justify-content: center; 
}

form {
  display: flex; 
  flex-direction: column;
  align-items: center;
  text-align: right;
}

#register-login{
  color:#FFFFFF;
}
