.search-file {
  font-family: "Raleway", sans-serif;
  display: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  color: #ffffff;
}

.search-section {
  margin-top: 1em;
  margin-bottom: 14.5em;
}

.search-input {
  background-color: #171e2c !important;
  color: #ffffff !important;
  border: none;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 1em;
  padding-bottom:1em;
}

